version: "3.9"

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "YourStrong!Passw0rd"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    networks:
      - backend
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -C -U sa -P 'YourStrong!Passw0rd' -Q 'SELECT 1' -b -o /dev/null" ]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 7s

  app:
    build:
      context: ./NacitanieKurzovConsoleApp
      dockerfile: Dockerfile
    container_name: dotnet_app
    depends_on:
      db:
        condition: service_healthy
    environment:
      ConnectionStrings__DefaultConnection: "Server=db;Database=EventsDb;User Id=sa;Password=YourStrong!Passw0rd;Encrypt=False;"
    networks:
      - backend

networks:
  backend:
